@charset "UTF-8";

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body { overflow: hidden; }

aside {
    width: 100px; height: 100%;
    position: fixed;
    left: 0; top: 0;
    background-color: rgb(59, 59, 59);
    box-shadow: 0 0 10px 5px #00000010;
}

canvas {
    margin-left: 100px;
}